/* Your custom css here */
.md-main {
  background-color: #e1eaf8;
}

.md-content {
  background-color: #fff;
  box-shadow: 0 10px 40px 0 rgba(47, 47, 47, .1);
  margin-bottom: 20px;
  border-radius: 3px;
}

.md-typeset {
  font-size: 0.88rem;
  font-weight: 300;
}

[data-md-color-scheme="it-4-life"] .md-main,
[data-md-color-scheme="it-4-life"] .md-header,
[data-md-color-scheme="it-4-life"] .md-tabs {
  background-color: #0a3441;
}

[data-md-color-scheme="it-4-life"] .md-header .md-header__topic {
  color: limegreen;
}

[data-md-color-scheme="it-4-life"] .md-tabs .md-tabs__link:hover {
  color: limegreen;
}

[data-md-color-scheme="it-4-life"] .md-nav__link[data-md-state="blur"] {
  color: #777;
}

[data-md-color-scheme="it-4-life"] .md-nav__item .md-nav__link--active {
  color: limegreen;
}

[data-md-color-scheme="it-4-life"] .md-content {
  background-color: #fffbec;
}

[data-md-color-scheme="it-4-life"] .md-sidebar {
  color: #fff;
}

@media screen and (max-width:  76.187em) {
  .md-content {
    border-radius: 0;
  }

  [data-md-color-scheme="it-4-life"] .md-nav--primary .md-nav__title,
  [data-md-color-scheme="it-4-life"] .md-nav--primary .md-nav__title ~ .md-nav__list {
    background-color: #0a3441;
    color: limegreen;
  }

  [data-md-color-scheme="it-4-life"] .md-nav--primary .md-nav__title ~ .md-nav__list {
    color: #fff;
  }
}
